body {
  background: url(https://wmo.int/sites/default/files/2023-06/MicrosoftTeams-image%20%2817%29.png);
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  color: #fff;
}
.weather-box {
  border: 3px solid #fff;
  padding: 50px;
  border-radius: 10px;
  background: #9fcef0;
  color: #333;
}
